<!DOCTYPE html>
<html>
    <head>
        <title>股票登入系統</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>股票查詢系統</h1>
        <form class="loginform" action="/login" method="post">
            <h2>Login 登入</h2>
            <input type="text" name="username" placeholder="請輸入帳號">
            <input type="password" name="password" placeholder="請輸入密碼">
            <input type="checkbox" name="remember-me" value="true" />remember me
            <br />
            <a href="./registerform">還沒有帳號嗎?點此註冊!</a> 
            <input type="submit" value="登入">
         </form> 
    </body>
</html>