<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org">
    <head>
        <title>Stock Information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 導入JQuery -->
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- 導入Table CSS -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
		<!-- 導入Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<!-- 導入FontAwesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<!-- 導入JavaScript檔案 -->
		<script>
			String.format = function () {
			if (arguments.length == 0)
				return null;
			var str = arguments[0];
			for (var i = 1; i < arguments.length; i++) {
				var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
				str = str.replace(re, arguments[i]);
			}
			return str;
			};
			$.fn.serializeObject = function () {
    		var o = {};
    		var a = this.serializeArray();
    		$.each(a, function () {
			if (o[this.name]) {
				if (!o[this.name].push) {
					o[this.name] = [o[this.name]];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
			});
    		return o;
		};
		function getYMDHMS(time) {
			var myDate = new Date(time);
			var YMD = addZero(myDate.getFullYear()) + "/" + addZero((myDate.getMonth() + 1)) + "/" + addZero(myDate.getDate());
			var HMS = addZero(myDate.getHours()) + ":" + addZero(myDate.getMinutes()) + ":" + addZero(myDate.getSeconds());
			var YMDHMS = YMD + " " + HMS;
			return YMDHMS;
		}
		function getYMD(time) {
			var myDate = new Date(time);
			var YMD = addZero(myDate.getFullYear()) + "/" + addZero((myDate.getMonth() + 1)) + "/" + addZero(myDate.getDate());
			return YMD;
		}
		function getMD(time) {
			var myDate = new Date(time);
			var MD = addZero((myDate.getMonth() + 1)) + "/" + addZero(myDate.getDate());
			return MD;
		}
		function getHMS(time) {
			var myDate = new Date(time);
			var HMS = addZero(myDate.getHours()) + ":" + addZero(myDate.getMinutes()) + ":" + addZero(myDate.getSeconds());
			return HMS;
		}
		function addZero(n) {
			return (n < 10) ? ("0" + n) : n;
		}

		function sortJson(datas, prop, asc) {
			datas.sort(function (a, b) {
				if (asc) {
					return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
				} else {
					return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
				}
			});
		}

		function numberFormat(nStr) {
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}

		function stripHTML(input) {
			var output = '';
			if (typeof (input) == 'string') {
				var output = input.replace(/(<([^>]+)>)/ig, "");
			}
			return output;
		}

		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		
		function drawChart() {
			drawChart(1);
			drawStockChart('^TWII');
		}
		
		function drawStockChart(symbol) {
			$.get("/price/histquotes/" + symbol, function(quotes, status) {
				// console.log("quotes:" + quotes);
				console.log("status:" + status);
				drawChartHist(symbol, quotes);
			});
		}
		
		function drawChartHist(symbol, quotes) {
			// 建立 data 欄位
			var data =  new google.visualization.DataTable();
			// 定義欄位
			data.addColumn('string', 'Date');
			data.addColumn('number', 'High');
			data.addColumn('number', 'Open');
			data.addColumn('number', 'Close');
			data.addColumn('number', 'Low');
			data.addColumn('number', 'AdjClose');
			data.addColumn('number', 'Volumn');
			// 加入資料
			$.each(quotes, function (i, item) {
				var array = [getMD(quotes[i].date), quotes[i].high, quotes[i].open, quotes[i].close, quotes[i].low, quotes[i].adjClose, quotes[i].volume];
				data.addRow(array);
			});
			console.log("data:" + data);
			// 設定 chart 參數
			var options = {
				title: symbol + ' 日K線圖',
				legend: 'none',
				vAxes: [
					{},
					{minValue: 1, maxValue: 6000000}
				],
				series: {
					1: {targetAxisIndex: 0, type: 'line', color: '#e7711b'},
					2: {targetAxisIndex: 1, type: 'bars', color: '#cccccc'}
				},
					candlestick: {
						fallingColor: {strokeWidth: 0, fill: '#0f9d58'}, // green
						risingColor: {strokeWidth: 0, fill: '#a52714'}   // red
				},
				chartArea: {left: 50}
			};
			// 產生 chart 物件
			var chart = new google.visualization.CandlestickChart(document.getElementById('stockchart'));
			// 繪圖
			chart.draw(data, options);
		}
		
		function drawChart(chartId) {

			var data = google.visualization.arrayToDataTable([
			['symbol', 'share'],
			<c:forEach var="map" items="${ groupMap }">
				['${ map.key }', ${ map.value }],
			</c:forEach>
			]);

			var options = {
			title: 'stock info'
			};

			var chart = new google.visualization.BarChart(document.getElementById('piechart'));
			switch(chartId) {
				case 2:
					chart = new google.visualization.PieChart(document.getElementById('piechart'));
					break;
				case 3:
					chart = new google.visualization.ColumnChart(document.getElementById('piechart'));
					break;
				case 4:
					chart = new google.visualization.LineChart(document.getElementById('piechart'));
					break;	
			}
			
			chart.draw(data, options);
		}
		</script>
	</head>

    <body th:object="${ stock}">
		
		<div style="position:relative;top:50px;left:50px">
			<a href="/index/stock">上一頁回股票總覽</a>
			
			<table id="myTable" class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>股票代號</th>
						<th>股票名稱</th>
						<th>交易數量</th>
						<th>股票開盤價</th>
						<th>股票收盤價</th>
						<th>當日最高價</th>
						<th>當日最低價</th>
						<th>加入自選</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td th:text="${stock.Code}"></td>
						<td th:text="${stock.Name}"></td>
						<td th:text="${stock.TradeVolume}"></td>
						<td th:text="${stock.OpeningPrice}"></td>
						<td th:text="${stock.ClosingPrice}"></td>
						<td th:text="${stock.HighestPrice}"></td>
						<td th:text="${stock.LowestPrice}"></td>
						<td>
							<a type="button" th:href="@{/index/stock/watchlist/{stockcode}(stockcode=${stock.Code})}"><i class="fa-solid fa-circle-plus"></i></a>
						</td>
					</tr>
					<tr>
					
					</tr>
					<tr>
						<td colspan="3" valign="top">
							<form class="pure-form">
								<fieldset>
									<legend>
										Fundstock Chart | <a href="#" onclick="drawStockChart('^TWII')">加權股價</a>
									</legend>
									<div id="stockchart" style="width: 800px; height: 500px;"></div>
								</fieldset>
							</form>
						</td>
					</tr>
				</tbody>

				
			</table>

        </div> 

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
       	<footer>
    		<center>© Financial System 2022/06/06 0912-345-678</center>
  		</footer> 
    </body>
</html>